<%= javascript_include_tag "extinfowindow_packed" %>
<%= javascript_include_tag "mapiconmaker_packed" %>
<%= javascript_include_tag "dragzoom_packed" %>
<%= javascript_include_tag "textualzoomcontrol" %>
<%= javascript_include_tag "markermanager" %>
<%= javascript_include_tag "nomination" %>
<div id="map">
</div>
