<%= javascript_include_tag "extinfowindow_packed" %>
<%= javascript_include_tag "mapiconmaker_packed" %>
<%= javascript_include_tag "dragzoom_packed" %>
<%= javascript_include_tag "textualzoomcontrol" %>
<%= javascript_include_tag "markermanager" %>
<%= javascript_include_tag "nomination" %>
<ul style="list-style:none;font-size:12pt">
  <li>You should now see a closeup of the Andhra Pradhesh with a number of markers indicating assembly constituencies. </li>
  <li> Click on the markers and zoom in further using the DragZoom button.</li>
  <li> <%= link_to "History of results(1978-2004)","/" %></li>
</ul>
<div id="map" style="width:1000px; height:800px; text-align: center;border:1px solid black"></div>
