<h1>Listing nominations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Party</th>
    <th>Constituency</th>
  </tr>

<% for nomination in @nominations %>
  <tr>
    <td><%=h nomination.name %></td>
    <td><%=h nomination.party.name %></td>
    <td><%=h nomination.constituency.name %></td>
    <td><%= link_to 'Show', nomination %></td>
    <td><%= link_to 'Edit', edit_nomination_path(nomination) %></td>
    <td><%= link_to 'Destroy', nomination, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nomination', new_nomination_path %>
