<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="Description" content="Andhra Pradhesh Electorial Map: 2009 Elections Results Information">
<title> Andhra Pradhesh Electorial Map</title>
<meta name="description" content="Andhra Pradhesh" />
<%= stylesheet_link_tag 'home','redInfoWindow','bubbleInfoWindow' %>
<script src="http://google.com/jsapi?key=ABQIAAAAlgBkrxtozPq6BJRUDdohQBSvO9wEK1VL9ijrFsVgreQc7pMV_RQCkG2f2oL1rhfewyrc9L2GJVZVZw" type="text/javascript">
</script>
<script type="text/javascript">
google.load("jquery", "1.3.2");
google.load("maps", "2");
</script>
</head>
<body>

<div class="wrap" id="home">
  <!--[if IE 5]> Vignette StoryServer 5.0 Mon Mar 30 10:36:19 2009 <![endif]-->

  <div id="navTop" class="nav">
    <ul>
      <li class="nav1"> <%= link_to "Home",root_url,:class => "sel" %> </li> 
      <li class="nav2"> <%= link_to "History",history_url %> </li> 
    </ul>
  </div>
  <div id="content">
    <div id="insideTime">
      <div class="tout">
        <div class="thumb">
          <%= image_tag "ysr.jpg",:width=> 77,:height => 50, :border => 0 %>
        </div> 
        <h3>Congress</h3>
      </div>	
      <div class="tout">
        <div class="thumb">
          <%= image_tag "jp.jpg",:width=> 77,:height => 50, :border => 0 %>
        </div> 
        <h3>Loksatta</h3>
      </div>	
      <div class="tout">
        <div class="thumb">
          <%= image_tag "chiru.jpg",:width=> 77,:height => 50, :border => 0 %>
        </div> 
        <h3>Praja Rajyam</h3>
      </div>	
      <div class="tout">
        <div class="thumb">
          <%= image_tag "chandra.jpg",:width=> 77,:height => 50, :border => 0 %>
        </div> 
        <h3>Telugu Desam</h3>
      </div>	
    </div>
    <div id="header">
      <div class="sep"><br />
      </div>
      <div class="sep"><br />
      </div>
    </div>
    <!-- /div#header -->

    <div class="ltCol">
      <%= yield %>
    </div><!-- /div.ltCol -->

    <!-- /div.botColA -->
    <!-- /div.botColB --> 

    <div class="end"></div>
  </div><!-- /div#content -->

  <!--[if IE 5]> Vignette StoryServer 5.0 Mon Mar 30 10:36:41 2009 <![endif]-->

  <div id="navBot" class="nav">
    <ul>
      <li class="nav1"> <%= link_to "Home",root_url,:class => "sel" %> </li> 
      <li class="nav2"> <%= link_to "History",history_url %> </li> 
    </ul>
  </div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-7997307-2");
  pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>

